'global':
  'welcome':
    'showOnStartup': false
  'core':
    'themes': [
      'predawn-ui'
      'predawn-syntax'
    ]
    'destroyEmptyPanes': false
  'editor':
    'fontFamily': 'Inconsolata'
  'linter': {}
